@import "imports/_mixins";

/* Fonts */
$body-font: "Helvetica Neue",Helvetica,Arial,sans-serf;

/* Colors */

$blue-normal: #0095CB;
$blue-darker: #005B82;
$blue-marine: #006D99;
$blue-title: #0086BD;
$blue-petro: #004766;
$blue-light: #B9E0EF;

/* Basic CSS */

html {
	min-height: 100%;
}

body {
	margin-top: 15px;
	font: normal normal 400 14px/1.5 $body-font;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	padding-right: 10px!important;
	padding-left: 10px!important;
}

.clearfix {
	@include clearfix();
}

*, *:after, *:before {
	@include box-sizing(border-box);
}

::-moz-focus-inner {
	border: 0;
}

em, i {
	font-style: italic;
}

h1, h2, h3, h4, h5, h6, strong, b {
	font-weight: 700
}

h1 {
	font-size: 2em;
	margin: .67em 0
}

h2 {
	font-size: 1.5em;
	margin: .83em 0
}

h3 {
	font-size: 1.17em;
	margin: 1em 0
}

h4 {
	font-size: 1em;
	margin: 1.33em 0
}

h5 {
	font-size: .83em;
	margin: 1.67em 0
}

h6 {
	font-size: .75em;
	margin: 2.33em 0
}

hr {
	height: 1px;
	border: none;
	@include inline-block();
	margin: 1em 0;
	background-color: rgba(0,0,0,0.2);
	width: 100%;
}

table {
	table-layout: fixed;
	width: 100%;
	th {
		text-align: left;
		&[align="left"] {
			text-align: left;
		}
		&[align="center"], &[align="middle"] {
			text-align: center;
		}
		&[align="right"] {
			text-align: right;
		}
	}
}

@include placeholder {
	color: rgba(0,0,0,0.5);
}

label, input, select, textarea, button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
	// these font styles are not inherited from the body!!
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
}

form {
	label, input, button, select, textarea {
		@include inline-block();
		width: 100%;
		outline: none;
		border: none;
		margin-bottom: 1em;
		padding: 0.4em;
		border: 1px solid rgba(0,0,0,0.2);
		transition: border 0.2s ease;
		&:focus {
			border: 1px solid rgba(0,0,0,0.5);
		}
	}
	input[type="submit"], button, button[type="button"], input[type="button"], input[type="reset"], input[type="submit"] {
		width: auto;
		padding: 0.4em 1em;
		&:hover {
			background: black;
		}
	}
	textarea {
		// resize: none;
		max-width: 100%; // no annoying >100% stretching
	}
}

.center {
	text-align: center;
	padding: 0 2em;
	img {
		max-width: 100%;
		height: auto;
	}
}

/* ############################## */
/*            Main CSS            */
/* ############################## */

/* Back to Top */

.totop {
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 1000;
	margin-right: 10px;
	i {
		margin: 0px;
	}
	a {
		display: block;
		width: 35px;
		height: 35px;
		color: #ffffff;
		font-size: 18px;
		text-align: center;
		line-height: 35px;
		background-color: $blue-marine;
		&:visited {
			display: block;
			width: 30px;
			height: 30px;
			color: #ffffff;
			text-align: center;
			line-height: 30px;
			background-color: $blue-marine;
		}
		&:hover {
			color: #ffffff;
			text-decoration: none;
			background-color: darken($blue-marine, 5%);
		}
	}
}

#carousel {
	overflow: hidden;
	max-width: 80%;
	max-height: 300px;
	margin: auto;
	.item {
		.carousel-caption {
			bottom: 0 !important;
			margin-bottom: 0 !important;
			padding-bottom: 0 !important;
			p {
				font-size: .9em;
				background-color: black;
				opacity: .7;
			}
		}
		img {
			margin-top: -75px;
			width: 100%;
		}
	}
}

.sbseg15 {
	margin-bottom: 10px;
	float: left;
	#logo {
		width: 100%;
		max-width: 260px;
	}
	#circle {
		width: 100%;
		max-width: 260px;
		top: 0px;
		left: 10px;
		position: absolute;
		z-index: 2;
	}
	&:hover {
		#circle {
			transform: rotate(1080deg);
			transform-origin: 18.8% 50.4%;
			transition: transform 1.5s;
		}
	}
}

.simposio-title {
	text-align: right;
	text-transform: uppercase;
	span {
		color: $blue-marine;
		display: block;
	}
	small {
		color: $blue-marine;
		display: block;
	}
}

.side-menu {
	clear: both;
	margin-bottom: 15px;
	ul {
		padding: 0;
		margin: 0;
		display: block;
		list-style: none;
		background-color: $blue-marine;
		li {
			display: block;
			border-bottom: 1px dashed white;
			a {
				display: block;
				padding: 10px 15px;
				color: white;
				text-decoration: none;
			}
			.glyphicon {
				margin-top: 2px;
				float: right;
			}
			&:hover {
				background-color: $blue-title;
			}
		}
	}
	.main-nav {
		margin-top: 10px;
		border-top: 1px dashed white;
		ul {
			li {
				padding-left: 20px;
				border-top: 1px dashed white;
				border-bottom: none;
			}
		}
		.sub-nav {
			z-index: 10;
			display: none;
			position: absolute;
			border-left: 1px solid white;
			min-width: 250px;
			left: 283px;
			margin-top: -42px;
			@media (max-width: 1200px) {
				left: 231px;
			}
		}
	}
}

.aside {
	margin-right: 0;
	h2 {
		font-size: 1.1em;
		color: $blue-title;
	}
	span {
		display: block;
		color: $blue-marine;
		font-weight: 600;
	}
	.promo {
		text-align: center;
		h2 {
			text-align: left;
		}
		img {
			max-width: 70px;
			height: auto;
			margin-bottom: 10px;
		}
	}
}

.menu-icon {
	float: left;
	color: white;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 10px;
}

.box-apresentacao {
	margin-top: 15px;
}

.box-chamada {
	h2 {
		color: $blue-title;
		font-size: 1.2em;
	}
}

.box-organizacao {
	h2 {
		color: $blue-title;
	}
	span {
		display: block;
		color: $blue-marine;
		font-weight: 600;
	}
}

.box-topicos {
	background: #006790;
	background: -moz-linear-gradient(top,  #006790 0%, #007AA7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#006790), color-stop(100%,#007AA7));
	background: -webkit-linear-gradient(top,  #006790 0%,#007AA7 100%);
	background: -o-linear-gradient(top,  #006790 0%,#007AA7 100%);
	background: -ms-linear-gradient(top,  #006790 0%,#007AA7 100%);
	background: linear-gradient(to bottom,  #006790 0%,#007AA7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{#006790}', endColorstr='#{#007AA7}',GradientType=0 );
	
	padding: 20px 10px 10px 10px;
	
	h2 {
		color: $blue-light;
		font-size: 1.3em;
		margin: 0;
		margin-bottom: 10px;
		padding-bottom: 4px;
		border-bottom: 2px dashed $blue-normal;
		img {
			margin-top: -10px;
			float: right;
		}
	}
	ul {
		list-style: none;
		padding:0;
		margin:0;
		color: #ffffff;
		li { 
			padding-left: 1em; 
			text-indent: -.7em;
			&:before {
				content: "• ";
				color: $blue-light;
			}
		}
	}
}

.box-datas {
	background: #004766;
	background: -moz-linear-gradient(top,  #004766 0%, #004F6F 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#004766), color-stop(100%,#004F6F));
	background: -webkit-linear-gradient(top,  #004766 0%,#004F6F 100%);
	background: -o-linear-gradient(top,  #004766 0%,#004F6F 100%);
	background: -ms-linear-gradient(top,  #004766 0%,#004F6F 100%);
	background: linear-gradient(to bottom,  #004766 0%,#004F6F 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{#004766}', endColorstr='#{#004F6F}',GradientType=0 );
	
	padding: 20px 10px 10px 10px;
	
	h2 {
		color: #ffffff;
		font-size: 1.3em;
		margin: 0;
		padding-bottom: 4px;
	}

	table {
		color: #ffffff;
		font-size: 1.1em;
		tr {
			&:first-child {
				border-bottom: 2px solid $blue-marine;
			}
			th {
				text-align: center;
				font-size: .9em;
				color: $blue-light;
				&:nth-child(1) {
					width: 30%;
				}
				&:nth-child(2) {
					width: 20%;
				}
				&:nth-child(3) {
					width: 20%;
				}
				&:nth-child(4) {
					width: 30%;
				}
			}
			td {
				&:first-child {
					font-weight: 600;
				}
				&:nth-child(2) {
					font-weight: 600;
					color: $blue-title;
					text-align: center;
				}
				&:nth-child(3) {
					text-align: center;
				}
				&:nth-child(4) {
					text-align: center;
				}
			}
		}
	}
}



/* Responsive CSS */

/* Tablets */
@media (max-width: 767px) {
	.sub-nav {
		display: block !important;
		position: relative !important;
		min-width: 0 !important;
		left: 0 !important;
		margin-top: 0 !important;
	}
}

/* Mobile */
@media (max-width: 480px) {

}
